html(lang="en")
  include ../../.templates/partials/head.jade
  body
    include ../../.templates/partials/header.jade
    .container
      include:markdown ../../.content/2015-10-29-DACK-Dev-Env.md
    include ../../.templates/partials/footer.jade
