.logo
h1
  a(href="/") Thoughts-about-Thoughts
nav
  ul
    li
      a(href="https://github.com/d-g-h").icon-mark-github GitHub
    li
      a(href="/resume").icon-file-text Resume
    li
      a(href="https://github.com/d-g-h/d-g-h.github.com").contribute (View Source/Contribute)
