body
  color: $color-gray-dark
  font: #{$body-font-size}/1.4 $body-font

a
  color: $color-blue
  text-decoration: none

  &:hover
    text-decoration: underline

  span
    font-size: $posts-font-size * .5
    padding-left: .25em

h1
  text-align: center

h2,
  margin-bottom: 0

h3,
h4,
h5,
h6
  color: $color-gray

li
  list-style: none

p
  margin: .5em 0

time
  color: $color-gray-light
  font: #{$body-font-size}/1 $body-font

.logo
  background-image: url('/assets/images/dgh.png')
  background-size: contain
  border-radius: 50%
  display: block
  height: 3em
  margin: 0 auto
  width: 3em
