header
  padding-top: 1rem;
nav
  ul
    margin: 0
    padding: 0
    display: flex
    flex-wrap: wrap
    justify-content: center
    li
      text-align: center
      padding: 1em
      align-self: flex-end
      a
        font-size: $posts-font-size * 0.75
.contribute
  font-size: $posts-font-size * 0.625
.icon-mark-github:before
  font-size: $posts-font-size * 1.5
  padding: $posts-font-size * 0.25
.icon-file-text:before
  font-size: $posts-font-size * 1.5
  padding: $posts-font-size * 0.25
