.job-title,
.contact-info
  color: $color-blue
  text-align: center
.job-time
  font-size: $posts-font-size/1.5
  color: $color-gray
.resume
  h2,
  h3,
  h4,
  h5
    margin: 0
article
  margin-top: 1em
