  include ../../.templates/partials/head.jade
html(lang="en")
  body
    include ../../.templates/partials/header.jade
    .container
      include:marked ../../.content/2015-05-13-Gulp-Static-Site-Generator.md
    include ../../.templates/partials/footer.jade
