.name {
  font-size: 1.5rem;
  margin: 0 0 0.25rem 0;
}

.email {
  margin-bottom: 0.75rem;
}

.sub {
  font-size: 0.75rem;
}

.title {
  font-size: 1.25rem;
  font-weight: bold;
}

.resume {
  margin: 0 auto;
  width: 85%;
}
