.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  padding: 1.5rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(7.5rem, 1fr));
  gap: 1rem;
  padding: 1rem;
  min-height: 7.5rem;
}

.divider {
  border-top: 1px solid oklch(0.67 0.22 142.55);
  margin: 1rem 0;
}

.top {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  gap: 1rem;
  justify-content: center;
}

.textarea {
  text-align: center;
  width: 100%;
  height: 9rem;
  padding: 0.5rem;
  border: none;
  outline: none;
  resize: both;
  overflow-y: auto;
  font-family: monospace;
  box-sizing: border-box;
}

.textarea::placeholder {
  text-align: center;
}

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  line-height: 1;
  background: none;
  border: none;
  cursor: pointer;
}

.grid {
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  gap: 2rem;
  width: 100%;
  max-width: 2000px;
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  cursor: pointer;
  background: none;
  border: none;
}

.progress {
  border-bottom: 1px solid oklch(0.73 0 0 / 0.17);
}

.qr {
  width: 100px;
  height: 100px;
}

.label {
  font-size: 1rem;
  font-weight: 600;
  color: oklch(0.67 0.22 142.55);
}

.door {
  font-size: 1.5rem;
  font-weight: 900;
}

.value {
  font-size: 0.5rem;
  opacity: 0.7;
}

.log {
  display: flex;
  margin-top: 1rem;
  width: 19rem;
  max-width: 100%;
}
