.labor {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.75rem;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: space-between;

  @media (min-width: 640px) {
    flex-direction: row;
  }
}

.group {
  display: flex;
  align-items: baseline;
}

.title {
  font-size: 1.25rem;
  font-weight: bold;
}
.highlight {
  color: var(--lime-color);
  font-size: 0.75rem;
  margin-left: 0.25rem;
}
.time {
  font-size: 0.75rem;
  margin-bottom: 0.25rem;
  text-align: right;
}
.location {
  @media (min-width: 640px) {
    text-align: right;
  }
  font-size: 0.75rem;
}

@media print {
  .highlight {
    color: var(--dark-gray-color);
  }
}
