-var MAINTITLE = true;
html(lang="en")
  include ../.templates/partials/head.jade
  body
    .container.resume
      header
        h1
          a(href='/') Dave G. Hall
      .contact-info daveghall
        | the-at-sign
        span (@)
        | gmail period
        span (.)
        | com
      article
        h2.job-title Freelance Full Stack Web Developer
        h3.job-company d-g-h.co
        h4.job-location New York, NY
        .date-ranges
          span.job-time January 2009 - Present
        p.job-details
          | Architect and plan coding solutions for responsive websites using a variety of open source technologies
      article
        h2.job-title Lead Developer
        h3.job-company Radish Lab
        h4.job-location New York, NY
        .date-ranges
          .job-time December 2013 - July 2015
        p.job-details
          | Created, and managed developer operations, and workflow with training, documentation, and automation
        p.job-details
          | Scoped, managed, architected projects under tight budgets coupled at times with short deadlines
        p.job-details Built sites, and RESTful APIs using a variety of technologies including WordPress, NodeJS, ExpressJS, and AngularJS
      article
        h2.job-title Web Developer
        h3.job-company Graph Paper Press
        h4.job-location New York, NY
        .date-ranges
          .job-time August 2012 - April 2014
        p.job-details Created and maintained environments for seamless developer operations
        p.job-details Offered consultation about various design, development, and business practices
        p.job-details Developed customized WordPress themes
        p.job-details Triaged and responded to theme related issues
      article
        h2.job-title Business Intelligence Developer
        h3.job-company Scholastic
        h4.job-location New York, NY
        .date-ranges
          span.job-time June 2011 - May 2012
        p.job-details
        p.job-details
          | Extracted, transformed, and loaded data utilizing .NET, SQL Service Integration Services
          | Designed, assembled, automated, maintained, and distributed enterprise dashboards via VBA code
        p.job-details
          | Assisted team with various queries, investigated and created documentation of all processes involved in data extraction and transformation processes
      .links.col.col-two
        article
          h3 Skills
          p.skills PHP(WordPress), Javascript(AngularJS, jQuery, Babel, Gulp, Grunt), CSS(SASS, Stylus) HTML(Jade, Markdown) SQL(MySQL, SQL Server 2005, DB2), noSQL(Redis, MongoDB ReThinkDB), DevOps(Vagrant, Ansible, Chef, Capistrano, Shell Scripts, NGINX, NodeJS), Testing(Tape, Mocha, Expect.js, SuperAgent, ESLint)
          h3 Social Links
          a(href='https://www.linkedin.com/in/davidghandihall') https://www.linkedin.com/in/davidghandihall
          a(href='https://github.com/d-g-h') https://github.com/d-g-h
          h3 Education
          p Brooklyn College, Information Systems, MS Program
            span (preparing for comprehensive final, completed all courses requirements)
          p City College of New York, General Psychology, MA 2008
          p Binghamton University, Psychology, BA 2005
    include ../.templates/partials/footer.jade
