.ted {
  color: #eb2008;
  font-weight: 900;
  letter-spacing: -0.05rem;
}
.labor {
  margin-bottom: 0.75rem;
}
.title {
  font-size: 1.25rem;
  font-weight: bold;
}
.time {
  font-size: 0.75rem;
  margin-bottom: 0.25rem;
}
.location {
  font-size: 0.75rem;
}
