header
  .logo
  h1
    a(href="/") d-g-h.co
  nav
    ul
      li
        a(href="https://github.com/d-g-h").icon-mark-github GitHub
      li
        a(href="/resume").icon-file-text Resume
      li
        a(href="https://github.com/d-g-h/dotfiles").contribute .dotfiles
      li
        a(href="https://github.com/d-g-h/d-g-h.github.com").contribute (View Source/Contribute/Search)
