:root {
  --light-gray-color: #adbac7;
  --dark-gray-color: #22272e;
  --light-color: #ffffff;
  --blue-color: #539bf5;
  --lime-color: #8ddb8c;
}

html {
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    Segoe UI,
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    Fira Sans,
    Droid Sans,
    Helvetica Neue,
    sans-serif;
}

body {
  background-color: var(--dark-gray-color);
  color: var(--light-gray-color);
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  color: var(--blue-color);
}

@media print {
  body,
  a {
    color: var(--dark-gray-color);
  }
}
