:root {
  --dark-bg-color: #22272e;
  --dark-text-color: #adbac7;
  --bg-color: #ffffff;
  --link-color: #539bf5;
  --highlight-color: #8ddb8c;
}

html {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

body {
  background-color: var(--dark-bg-color);
  color: var(--dark-text-color);
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  color: var(--link-color);
}

.highlight  {
  color: var(--highlight-color);
}
